:root {
  color: white;
  background-color: #242424;
}

:root {
	font-family: Whitney, "gg sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root[data-font="ggsans"] {
	font-family: "gg sans", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root[data-font="arial"] {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

:root[data-font="timesnewroman"] {
	font-family: "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root[data-font="comicsans"] {
	font-family: "Comic Sans MS", "Comic Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
	src: url(/fonts/whitney-300.woff);
	font-family: Whitney;
	font-weight: 300;
}

@font-face {
	src: url(/fonts/whitney-400.woff);
	font-family: Whitney;
	font-weight: 400;
}

@font-face {
	src: url(/fonts/whitney-500.woff);
	font-family: Whitney;
	font-weight: 500;
}

@font-face {
	src: url(/fonts/whitney-600.woff);
	font-family: Whitney;
	font-weight: 600;
}

@font-face {
	src: url(/fonts/whitney-700.woff);
	font-family: Whitney;
	font-weight: 700;
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/ggsans-normal-400.woff2) format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 400;
	src: url(/fonts/ggsans-italic-400.woff2) format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/ggsans-normal-500.woff2) format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 500;
	src: url(/fonts/ggsans-italic-500.woff2) format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/ggsans-normal-600.woff2) format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 600;
	src: url(/fonts/ggsans-italic-600.woff2) format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/ggsans-normal-700.woff2) format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 700;
	src: url(/fonts/ggsans-italic-700.woff2) format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 800;
	src: url(/fonts/ggsans-normal-800.woff2) format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 800;
	src: url(/fonts/ggsans-italic-800.woff2) format("woff2");
}



*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #1E1F22;
  margin: 0;
  display: flex;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* reset default button styles */
button,
input {
	all: unset;
	outline: revert; /* add back outline for keyboard navigation */
}