:root {
	--font: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root[data-font="ggsans"] {
	--font: "gg sans", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root[data-font="arial"] {
	--font: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

:root[data-font="timesnewroman"] {
	--font: "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root[data-font="comicsans"] {
	--font: "Comic Sans MS", "Comic Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root[data-theme="dark"] {
	--color-discord-blue: #5865F2;
	--color-discord-green: #3BA55D;

	--color-text: #DCDDDE;
	--color-contrast: white;
	--color-bg: #36393F;

	--channel-text-read: #8E9297;
	--channel-text-read-hover: #DCDDDE;
	--channel-text-unread: white;
	--channel-bg-hover: #3C3F45;

	--header-icon: #b5bac1;
	--header-icon-hover: #DCDDDE;

	--panel-guilds-bg: #1e1f22;
	--panel-channels-bg: #2b2d31;
	--panel-messages-bg: #36393F;

	--ping-bg: #414675;
	--ping-bg-hover: #5865F2;
	--ping-text: #DEE0FC;
	--ping-text-hover: white;

	--msg-link: #00AFF4;

	--message-hover-bg: #32353b;

	--borders: rgba(255, 255, 255, 0.1);
	--borders2: #4f545c;
}

:root[data-theme="black"] {
	--color-discord-blue: #5865F2;
	--color-discord-green: #3BA55D;

	--color-text: #DCDDDE;
	--color-contrast: white;
	--color-bg: black;

	--channel-text-read: #8E9297;
	--channel-text-read-hover: #DCDDDE;
	--channel-text-unread: white;
	--channel-bg-hover: #3C3F45;

	--header-icon: #B9BBBE;
	--header-icon-hover: #DCDDDE;

	--panel-guilds-bg: rgb(8, 8, 8);
	--panel-channels-bg: rgb(8, 8, 8);
	--panel-messages-bg: black;

	--ping-bg: #414675;
	--ping-bg-hover: #5865F2;
	--ping-text: #DEE0FC;
	--ping-text-hover: white;

	--msg-link: #00AFF4;

	--message-hover-bg: #131313;

	--borders: rgba(255, 255, 255, 0.1);
	--borders2: #4f545c;
}

:root[data-theme="white"] {
	--color-discord-blue: #5865F2;
	--color-discord-green: #3BA55D;

	--color-text: #2e3338;
	--color-contrast: black;
	--color-bg: white;

	--channel-text-read: #5E6772;
	--channel-text-read-hover: #2E3338;
	--channel-text-unread: black;
	--channel-bg-hover: #DCDFE3;

	--header-icon: #B9BBBE;
	--header-icon-hover: #DCDDDE;

	--panel-guilds-bg: #E3E5E8;
	--panel-channels-bg: #F2F3F5;
	--panel-messages-bg: white;

	--message-hover-bg: #dddddd;


	--ping-bg: #414675;
	--ping-bg-hover: #5865F2;
	--ping-text: #DEE0FC;
	--ping-text-hover: white;

	--msg-link: #0068e0;

	--borders: #eceeef;
	--borders2: #c7ccd1;
}

@font-face {
	src: url(/fonts/whitney-300.woff);
	font-family: Whitney;
	font-weight: 300
}

@font-face {
	src: url(/fonts/whitney-400.woff);
	font-family: Whitney;
	font-weight: 400
}

@font-face {
	src: url(/fonts/whitney-500.woff);
	font-family: Whitney;
	font-weight: 500
}

@font-face {
	src: url(/fonts/whitney-600.woff);
	font-family: Whitney;
	font-weight: 600
}

@font-face {
	src: url(/fonts/whitney-700.woff);
	font-family: Whitney;
	font-weight: 700
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 400;
	src: url(/data/fonts/ggsans-normal-400.woff2) format("woff2")
}

@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 400;
	src: url(/data/fonts/ggsans-italic-400.woff2) format("woff2")
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 500;
	src: url(/data/fonts/ggsans-normal-500.woff2) format("woff2")
}

@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 500;
	src: url(/data/fonts/ggsans-italic-500.woff2) format("woff2")
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 600;
	src: url(/data/fonts/ggsans-normal-600.woff2) format("woff2")
}

@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 600;
	src: url(/data/fonts/ggsans-italic-600.woff2) format("woff2")
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 700;
	src: url(/data/fonts/ggsans-normal-700.woff2) format("woff2")
}

@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 700;
	src: url(/data/fonts/ggsans-italic-700.woff2) format("woff2")
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 800;
	src: url(/data/fonts/ggsans-normal-800.woff2) format("woff2")
}

@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 800;
	src: url(/data/fonts/ggsans-italic-800.woff2) format("woff2")
}



html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: var(--font);
	font-size: 17px;
	font-weight: 400;
	scroll-behavior: smooth
}

a {
	color: var(--msg-link);
	text-decoration: none
}

/* a:hover {
	text-decoration: underline
} */

img {
	object-fit: contain;
	image-rendering: high-quality;
	image-rendering: -webkit-optimize-contrast
}

.chatlog {
	padding: 1rem 0;
	width: 100%;
	border-top: 1px solid var(--borders);
	border-bottom: 1px solid var(--borders)
}

.chatlog__message-group {
	margin-bottom: 1rem
}

.chatlog__message-container {
	background-color: transparent;
	transition: background-color 1s ease
}

.chatlog__message-container--highlighted {
	background-color: rgba(114, 137, 218, 0.2)
}

.chatlog__message-container--pinned {
	background-color: rgba(249, 168, 37, 0.05)
}

.chatlog__message {
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 0.15rem 0;
	direction: ltr;
	unicode-bidi: bidi-override
}

.chatlog__message:hover {
	background-color: var(--message-hover-bg)
}

.chatlog__message:hover .chatlog__short-timestamp {
	display: block
}

.chatlog__message-aside {
	grid-column: 1;
	width: 72px;
	padding: 0.15rem 0.15rem 0 0.15rem;
	text-align: center
}

.chatlog__reference-symbol {
	height: 10px;
	margin: 6px 4px 4px 36px;
	border-left: 2px solid var(--borders2);
	border-top: 2px solid var(--borders2);
	border-radius: 8px 0 0 0
}

.chatlog__avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%
}

.chatlog__short-timestamp {
	display: none;
	color: #a3a6aa;
	font-size: 0.75rem;
	font-weight: 500;
	direction: ltr;
	unicode-bidi: bidi-override
}

.chatlog__message-primary {
	grid-column: 2;
	min-width: 0
}

.chatlog__reference {
	display: flex;
	margin-bottom: 0.15rem;
	align-items: center;
	color: #b5b6b8;
	font-size: 0.875rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.chatlog__reference-avatar {
	width: 16px;
	height: 16px;
	margin-right: 0.25rem;
	border-radius: 50%
}

.chatlog__reference-author {
	margin-right: 0.3rem;
	font-weight: 600
}

.chatlog__reference-content {
	overflow: hidden;
	text-overflow: ellipsis
}

.chatlog__reference-link {
	cursor: pointer
}

.chatlog__reference-link * {
	display: inline;
	pointer-events: none
}

.chatlog__reference-link .chatlog__markdown-quote {
	display: inline
}

.chatlog__reference-link .chatlog__markdown-pre {
	display: inline
}

.chatlog__reference-link:hover {
	color: #ffffff
}

.chatlog__reference-link:hover *:not(.chatlog__markdown-spoiler) {
	color: inherit
}

.chatlog__reference-edited-timestamp {
	margin-left: 0.25rem;
	color: #a3a6aa;
	font-size: 0.75rem;
	font-weight: 500;
	direction: ltr;
	unicode-bidi: bidi-override
}

.chatlog__system-notification-icon {
	width: 24px;
	height: 24px
}

.chatlog__system-notification-author {
	font-weight: 500;
	color: #ffffff
}

.chatlog__system-notification-content {
	color: #96989d
}

.chatlog__system-notification-link {
	font-weight: 500;
	color: #ffffff
}

.chatlog__system-notification-timestamp {
	margin-left: 0.3rem;
	color: #a3a6aa;
	font-size: 0.75rem;
	font-weight: 500;
	direction: ltr;
	unicode-bidi: bidi-override
}

.chatlog__system-notification-timestamp a {
	color: inherit
}

.chatlog__header {
	margin-bottom: 0.1rem
}

.chatlog__author {
	font-weight: 500;
	color: var(--color-contrast)
}

.chatlog__author-tag {
	position: relative;
	top: -0.1rem;
	margin-left: 0.3rem;
	padding: 0.05rem 0.3rem;
	border-radius: 3px;
	background-color: #5865F2;
	color: #ffffff;
	font-size: 0.625rem;
	font-weight: 500;
	line-height: 1.3;
}

.chatlog__bot-label {
	position: relative;
	top: -0.1rem;
	margin-left: 0.3rem;
	padding: 0.05rem 0.3rem;
	border-radius: 3px;
	background-color: #5865F2;
	color: #ffffff;
	font-size: 0.625rem;
	font-weight: 500;
	line-height: 1.3
}

.chatlog__timestamp {
	margin-left: 0.3rem;
	color: #a3a6aa;
	font-size: 0.75rem;
	font-weight: 500;
	direction: ltr;
	unicode-bidi: bidi-override
}

.chatlog__timestamp a {
	color: inherit
}

.chatlog__content {
	padding-right: 1rem;
	font-size: 0.95rem;
	word-wrap: break-word
}

.chatlog__edited-timestamp {
	margin-left: 0.15rem;
	color: #a3a6aa;
	font-size: 0.75rem;
	font-weight: 500
}

.chatlog__attachment {
	position: relative;
	width: fit-content;
	margin-top: 0.3rem;
	border-radius: 3px;
	overflow: hidden
}

.chatlog__attachment--hidden {
	cursor: pointer;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1)
}

.chatlog__attachment--hidden * {
	pointer-events: none
}

.chatlog__attachment-spoiler-caption {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 999;
	padding: 0.4rem 0.8rem;
	border-radius: 20px;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.9);
	color: #dcddde;
	font-size: 0.9rem;
	font-weight: 600;
	letter-spacing: 0.05rem
}

.chatlog__attachment--hidden .chatlog__attachment-spoiler-caption {
	display: block
}

.chatlog__attachment--hidden:hover .chatlog__attachment-spoiler-caption {
	color: #fff
}

.chatlog__attachment-media {
	max-width: 45vw;
	max-height: 500px;
	vertical-align: top;
	border-radius: 3px
}

.chatlog__attachment--hidden .chatlog__attachment-media {
	filter: blur(44px)
}

.chatlog__attachment-generic {
	max-width: 520px;
	width: 100%;
	height: 40px;
	padding: 10px;
	border: 1px solid #292b2f;
	border-radius: 3px;
	background-color: var(--panel-channels-bg);
	overflow: hidden
}

.chatlog__attachment--hidden .chatlog__attachment-generic {
	filter: blur(44px)
}

.chatlog__attachment-generic-icon {
	float: left;
	width: 30px;
	height: 100%;
	margin-right: 10px
}

.chatlog__attachment-generic-size {
	color: #72767d;
	font-size: 12px
}

.chatlog__attachment-generic-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.chatlog__embed {
	display: flex;
	margin-top: 0.3rem;
	max-width: 520px
}

.chatlog__embed-color-pill {
	flex-shrink: 0;
	width: 0.25rem;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px
}

.chatlog__embed-color-pill--default {
	background-color: #202225
}

.chatlog__embed-content-container {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0.6rem;
	border: 1px solid rgba(46, 48, 54, 0.6);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: rgba(46, 48, 54, 0.3)
}

.chatlog__embed-content {
	display: flex;
	width: 100%
}

.chatlog__embed-text {
	flex: 1
}

.chatlog__embed-author-container {
	display: flex;
	margin-bottom: 0.5rem;
	align-items: center
}

.chatlog__embed-author-icon {
	width: 20px;
	height: 20px;
	margin-right: 0.5rem;
	border-radius: 50%
}

.chatlog__embed-author {
	color: #ffffff;
	font-size: 0.875rem;
	font-weight: 600;
	direction: ltr;
	unicode-bidi: bidi-override
}

.chatlog__embed-author-link {
	color: #ffffff
}

.chatlog__embed-title {
	margin-bottom: 0.5rem;
	color: #ffffff;
	font-size: 0.875rem;
	font-weight: 600
}

.chatlog__embed-description {
	color: #dcddde;
	font-weight: 500;
	font-size: 0.85rem
}

.chatlog__embed-fields {
	display: flex;
	flex-wrap: wrap;
	gap: 0 0.5rem
}

.chatlog__embed-field {
	flex: 0;
	min-width: 100%;
	max-width: 506px;
	padding-top: 0.6rem;
	font-size: 0.875rem
}

.chatlog__embed-field--inline {
	flex: 1;
	flex-basis: auto;
	min-width: 50px
}

.chatlog__embed-field-name {
	margin-bottom: 0.2rem;
	color: #ffffff;
	font-weight: 600
}

.chatlog__embed-field-value {
	color: #dcddde;
	font-weight: 500
}


.chatlog__embed-images {
	display: grid;
	margin-top: 0.6rem;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.25rem
}

.chatlog__embed-images--single {
	display: block
}

.chatlog__embed-image {
	object-fit: cover;
	object-position: center;
	max-width: 500px;
	max-height: 400px;
	width: 100%;
	height: 100%;
	border-radius: 3px
}

.chatlog__embed-footer {
	margin-top: 0.6rem;
	color: #dcddde
}

.chatlog__embed-footer-icon {
	width: 20px;
	height: 20px;
	margin-right: 0.2rem;
	border-radius: 50%;
	vertical-align: middle
}

.chatlog__embed-footer-text {
	vertical-align: middle;
	font-size: 0.75rem;
	font-weight: 500
}

.chatlog__embed-generic-image {
	max-width: 45vw;
	max-height: 500px;
	vertical-align: top;
	border-radius: 3px
}

.chatlog__embed-generic-gifv {
	max-width: 45vw;
	max-height: 500px;
	vertical-align: top;
	border-radius: 3px
}

.chatlog__embed-spotify {
	border: 0
}

.chatlog__embed-youtube-container {
	margin-top: 0.6rem
}

.chatlog__embed-youtube {
	border: 0;
	border-radius: 3px
}

.chatlog__sticker {
	width: 180px;
	height: 180px
}

.chatlog__sticker--media {
	max-width: 100%;
	max-height: 100%
}

.chatlog__reactions {
	display: flex
}

.chatlog__reaction {
	display: flex;
	margin: 0.35rem 0.1rem 0.1rem 0;
	padding: 0.125rem 0.375rem;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: var(--panel-channels-bg);
	align-items: center
}

.chatlog__reaction:hover {
	border: 1px solid hsla(0, 0%, 100%, .2);
	background-color: transparent
}

.chatlog__reaction-count {
	min-width: 9px;
	margin-left: 0.35rem;
	color: #b9bbbe;
	font-size: 0.875rem
}

.chatlog__reaction:hover .chatlog__reaction-count {
	color: #dcddde
}

.chatlog__markdown {
	max-width: 100%;
	line-height: 1.3;
	overflow-wrap: break-word
}

.chatlog__markdown-preserve {
	white-space: pre-wrap
}

.chatlog__markdown-spoiler {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 3px
}

.chatlog__markdown-spoiler--hidden {
	cursor: pointer;
	background-color: #202225;
	color: rgba(0, 0, 0, 0)
}

.chatlog__markdown-spoiler--hidden:hover {
	background-color: rgba(32, 34, 37, 0.8)
}

.chatlog__markdown-spoiler--hidden::selection {
	color: rgba(0, 0, 0, 0)
}

.chatlog__markdown-quote {
	display: flex;
	margin: 0.05rem 0
}

.chatlog__markdown-quote-border {
	margin-right: 0.5rem;
	border: 2px solid var(--borders2);
	border-radius: 3px
}

.chatlog__markdown-pre {
	background-color: var(--panel-channels-bg);
	font-family: "Consolas", "Courier New", Courier, monospace;
	font-size: 0.85rem
}

.chatlog__markdown-pre--multiline {
	display: block;
	margin-top: 0.25rem;
	padding: 0.5rem;
	border: 2px solid #282b30;
	border-radius: 5px;
	color: #b9bbbe
}

.chatlog__markdown-pre--multiline.hljs {
	background-color: var(--panel-channels-bg);
	color: #b9bbbe
}

.chatlog__markdown-pre--inline {
	display: inline-block;
	padding: 2px;
	border-radius: 3px
}

.chatlog__markdown-mention {
	border-radius: 3px;
	padding: 0 2px;
	background-color: rgba(88, 101, 242, .3);
	color: #dee0fc;
	font-weight: 500
}

.chatlog__markdown-mention:hover {
	background-color: #5865f2;
	color: #ffffff
}

.chatlog__markdown-timestamp {
	border-radius: 3px;
	padding: 0 2px;
	color: #a3a6aa
}

.chatlog__emoji {
	width: 1.325rem;
	height: 1.325rem;
	margin: 0 0.06rem;
	vertical-align: -0.4rem
}

.chatlog__emoji--small {
	width: 1rem;
	height: 1rem
}

.chatlog__emoji--large {
	width: 2.8rem;
	height: 2.8rem
}

.postamble {
	padding: 1.25rem
}

.postamble__entry {
	color: #ffffff
}


.chatlog__attachment-media {
	max-width: 45vw;
	max-height: 500px;
	vertical-align: top;
	border-radius: 3px;
}

.chatlog__attachment--hidden .chatlog__attachment-media {
	filter: blur(44px);
}



/* custom dark scrollbar - chromium only*/
::-webkit-scrollbar {
	width: 10px;
	height: 3px;
}

::-webkit-scrollbar-track {
	background-color: var(--panel-channels-bg);
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #1a1b1e;
	border-radius: 3px;
}

::-webkit-scrollbar-corner {
	background-color: #646464;
}

::-webkit-resizer {
	background-color: #666;
}

#channels::-webkit-scrollbar {
	width: 11px;
}
#channels::-webkit-scrollbar-thumb {
	width: 5px;
	border-radius: 10px;

	/*left+right scrollbar padding magix*/
	background-clip: padding-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

#messages ::-webkit-scrollbar-track-piece {
	background-color:#313338;
}
#messages ::-webkit-scrollbar {
	width: 14px;
}
#messages ::-webkit-scrollbar-thumb {
	width: 5px;
	border-radius: 10px;

	/*left+right scrollbar padding magix*/
	background-clip: padding-box;
	border: 3px solid rgba(0, 0, 0, 0);
}


#search-options::-webkit-scrollbar-thumb {
	background-color:#313338;
}
#search-options::-webkit-scrollbar-track-piece {
	background-color:#111214;
}
#search-options::-webkit-scrollbar {
	width: 14px;
}
#search-options::-webkit-scrollbar-thumb {
	width: 5px;
	border-radius: 10px;

	/*left+right scrollbar padding magix*/
	background-clip: padding-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

#search-results ::-webkit-scrollbar-track-piece {
	background-color:#2b2d31;
}
#search-results ::-webkit-scrollbar {
	width: 11px;
}
#search-results ::-webkit-scrollbar-thumb {
	width: 5px;
	border-radius: 10px;

	/*left+right scrollbar padding magix*/
	background-clip: padding-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

.txt {
	font-size: 32px;
	padding-top: 20px;
	padding-left: 20px;
}

.profile-scroll::-webkit-scrollbar {
	width: 9px !important;
}
.profile-scroll::-webkit-scrollbar-track-piece {
	background-color: #111214 !important;
}
.profile-scroll::-webkit-scrollbar-thumb {
	width: 5px !important;
	border-radius: 10px !important;
	background-color: #2e2f34 !important;

	/*left+right scrollbar padding magix*/
	background-clip: padding-box !important;
	border: 3px solid rgba(0, 0, 0, 0) !important;
}