# global blacklist
.DS_Store
node_modules
.env
.env.*
!.env.example
.vercel
.output
__pycache__
.vscode


# releases (built files)
/release/*.zip
/build/
/release/dcef/
/backend/preprocess/build/
/backend/preprocess/dist/
/build.zip


# windows-runner
/backend/windows-runner/build/
/backend/windows-runner/dist/
logs.txt
dcef.exe
/backend/windows-runner/dcef.spec

# nginx
/backend/nginx/logs
/backend/nginx/temp
error.log
access.log
nginx.pid

# mongodb
/backend/mongodb/db


# Preprocess
/backend/preprocess/*.spec
/backend/preprocess/temp/*

# Frontend
/frontend/build
/frontend/.svelte-kit

# Files containing private information (use example files as a template)
REDOWNLOAD.bat

# private files
/exports/
/release/exports/*
!/release/exports/README.txt
!/release/exports/example_guild/
/backend/preprocess/temp/
/TODO.md