# global blacklist
.DS_Store
node_modules
.env
.env.*
!.env.example
.vercel
.output
__pycache__


# releases (built files)
/release/*.zip
/release/dcef/


# nginx
/backend/nginx/logs
/backend/nginx/temp
/backend/nginx/nginx.exe


# Preprocess
/backend/preprocess/*.spec
/backend/preprocess/temp/*

# Frontend
/frontend/build
/frontend/.svelte-kit

# Files containing private information (use example files as a template)
REDOWNLOAD.bat

# private files
/exports/
/release/exports/
/backend/preprocess/temp/
/TODO.md