# global blacklist
.DS_Store
node_modules
.env
.env.*
!.env.example
.vercel
.output
__pycache__


# releases (built files)
releases/*.zip


# Releases and nginx
releases/dcef/frontend/
releases/exports/*
releases/dcef/cache/*
releases/dcef/bin/preprocess.exe
releases/dcef/bin/emojiIndex.json
releases/dcef/bin/nginx/logs/*
releases/dcef/bin/nginx/temp/*
releases/dcef/bin/nginx/conf/*
!releases/dcef/bin/nginx/conf/nginx-prod.conf
!releases/dcef/bin/nginx/conf/nginx-dev.conf
releases/dcef/bin/nginx/contrib/*
releases/dcef/bin/nginx/docs/*
releases/dcef/bin/nginx/nginx.exe

# Preprocess
preprocess/*.spec

# Frontend
frontend/build
frontend/.svelte-kit


# Files containing private information (use example files as a template)
REDOWNLOAD.bat

# not released files
preprocess/export_helpers
TODO.md